.questions {
	padding: 60px 0px;

	&__accordion {
		margin: 40px auto 0px auto;
    	max-width: 880px;
	}
}

.accordion {
	border-top: 1px solid #242424;
	&:last-child {
		border-bottom: 1px solid #242424;
	}

	&__control {
		padding: 30px 0px;
		width: 100%;
		color:$color-text;
		display: flex;
		align-items: center;
		justify-content: space-between;
		&.active {
			.accordion__icon{
				transform: rotate(45deg);
			}
		}
	}

	&__title {
		font-size: 20px;
	}

	&__icon {
		display: inline-block;
		width: 25px;
		height: 25px;
		background-image: url("../img/cross.svg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		transition: transform 0.3s ease-out;
	}

	&__content {
		padding-bottom: 18px;
		width: 70%;
		line-height: 22.4px;
		@media (max-width: 768px) {
			width: 100%;
		}
	}
}
